

@font-face {
    font-family: 'atc_harrislight';
    src: url('atcharris-light-webfont.eot');
    src: url('atcharris-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('atcharris-light-webfont.woff2') format('woff2'),
         url('atcharris-light-webfont.woff') format('woff'),
         url('atcharris-light-webfont.ttf') format('truetype'),
         url('atcharris-light-webfont.svg#atc_harrislight') format('svg');
    font-weight: normal;
    font-style: normal;
}
