body {
  margin: 0;
  padding: 0 9rem 0 9rem;
  font-family:  "Avenir Next", "Helvetica Neau", "Avenir", "Arial";
  color: #1F2421;
  letter-spacing: .1rem;
}
a {
  text-decoration: none;
}
a:visited {
  color: #1F2421;
}

h1 {
  font-size: 1.3rem;
  font-weight: 400;
}

/* -------- */

._Headline {
  margin-top: 4rem;
}

._Header {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

._Header li {
  font-size: 1.3rem;
}

._Box {
  display: flex;
}

/* -------- */

._Information {
  margin-top: 6rem;
}

._SmallBox {
  width: 560px;
}

._About {
  flex: 1.6;
  font-size: 1rem;
}

._AboutList {
  font-size: 1rem;
  text-align: left;
  list-style: none;
  line-height: 1.6rem;
  padding: 0;
}

._Contact {
  flex: 1;
  padding-left: 8rem;
}

._ContactList {
  list-style: none;
  padding: 0;
}

/* -------- */

img {
  height: 350px;
  width: 560px;
}

._ImageList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

._ImageList li {
  margin-top: 2rem;
}

._SelectedWorks {
  display: block;
}
