
@font-face {
    font-family: 'atc_harrisregular';
    src: url('./Fonts/Regular/atcharris-regular-webfont.eot');
    src: url('./Fonts/Regular/atcharris-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/Regular/atcharris-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Regular/atcharris-regular-webfont.woff') format('woff'),
         url('./Fonts/Regular/atcharris-regular-webfont.ttf') format('truetype'),
         url('./Fonts/Regular/atcharris-regular-webfont.svg#atc_harrisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'atc_harrislight';
    src: url('./Fonts/Light/atcharris-light-webfont.eot');
    src: url('./Fonts/Light/atcharris-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/Light/atcharris-light-webfont.woff2') format('woff2'),
         url('./Fonts/Light/atcharris-light-webfont.woff') format('woff'),
         url('./Fonts/Light/atcharris-light-webfont.ttf') format('truetype'),
         url('./Fonts/Light/atcharris-light-webfont.svg#atc_harrislight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0 9rem 0 9rem;
  font-family: "atc_harrislight", "Avenir Next", "Helvetica Neau", "Avenir", "Arial";
  background-color: #FFF;
  color: #363732;
}
a {
  font-family: "atc_harrislight";
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: .1rem;
}
a:visited {
  color: #333;
}

h1 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "atc_harrisregular";
  color: #FF6542;
}

h5 {
  padding-top: 4rem;
}



/* -------- */

._Headline {
  margin-top: 4rem;
}

._Header {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

._Header li {
  font-size: 1.3rem;
}

/* -------- */

._Box {
  display: flex;
  margin-top: 6rem;
}

._SmallBox {
  width: 560px;
}

._About {
  flex: 1.1;
}

._AboutList {
  font-size: .9rem;
  text-align: left;
  list-style: none;
  line-height: 1.6rem;
  padding: 1rem 0 0 0;
}


._Contact {
  flex: 1;
  padding-left: 4rem;
}

._ContactList {
  display: flex;
  list-style: none;
  line-height: 2rem;
  font-size: .9rem;
  flex-wrap: wrap;
  padding: 1rem 0 0 0;
}

._ContactList li {
  font-size: 1rem;
  font-family: "atc_harrisregular";
}

._ContactList li:nth-child(2) {
  padding-left: 4rem;
}

._ContactList li:nth-child(3) {
  padding-top: 1.3rem;
}

/* -------- */

._Card {
  height: 350px;
  width: 560px;
  background-size: cover;
  background-position: center;

}

._onHover {
  display: none;
  position: absolute;
}

._onHover h1 {
  font-family: "atc_harrislight";
  margin: 0 auto 0 auto;
}

._onHover p {
  padding: 0 5rem 0 5rem;
}

._Card:hover ._onHover {
  height: 350px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #efefef;
  cursor: pointer;

}

._ImageList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


._ImageList li {
  margin-top: 2rem;
}


._SelectedWorks {
  display: block;
}

._Social {
  flex: 1;
  font-size: .9rem;
}

._SocialList {
  display: flex;
  list-style: none;
  padding: 1rem 0 0 0;
}

._SocialList li {
  padding-right: 2rem;
}

._Idiom {
  font-size: .9rem;
  padding-left: 2rem;
  flex: 1;
}

._Idiom p {
  padding: 1rem 0 0 0;
  font-size: 1rem;
  font-family: "atc_harrislight";
  line-height: 1.6rem;
  text-align: left;
}

._Footer {
  margin-bottom: 3rem;
}

/* -------- */

._ModalList {
  display: flex;
  padding: 14rem;
  justify-content: center;
  list-style: none;
}

._ModalList li {
  padding: 0 3rem 0 0;
  font-family: "atc_harrisregular";
  font-size: 2rem;
}

._ModalList li:hover {
  color: red;
}

/* -------- */

._Blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._Blog p {
  line-height: 1.7rem;
  justify-content: center;
  font-size: 1rem;
}

._BlogImage {
  height: 542px;
  width: 1000px;
}

._BlogForm {
  padding: 4rem 8rem 0 8rem;
}

input {
  font-family: "atc_harrisregular";
  font-size: 3rem;
  color: #FF6542;
  border: none;
  outline: none;
}

textarea {
  font-family: "atc_harrislight";
  font-size: 2rem;
  border: none;
  outline: none;
}
